
.mb_sc{
    display: none;
}
@media only screen and (max-width: 600px) {

.d_sc{
        display:none;
    }
    .mb_sc{
        display:inline;
        margin: 0;
    }
    .r-no{
        display:none;
    }
   
}
